{% extends 'admin/admin.html.twig' %}
{% block content %}
    <h1>User</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.id) }}
        {{ form_row(form.username) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.roles) }}
{#        {{ form_row(form.save, { 'label': 'Submit me' }) }}#}
        {{ form_widget(form.save, {'attr': {'class': 'btn'}}) }}
        <a class = "btn cancel" href="{{ path('user') }}">back</a>
    {{ form_end(form) }}
{% endblock %}