{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('build/admin.css') }}" rel="stylesheet"/>
{% endblock %}
{% block title %}Adminpage{% endblock %}
{% block navigationlist %}
    <li><a class = "nav-elem{% if app.request.get('_route') == 'admin' %} active{% endif %}" href = "{{ path('admin') }}">Dashboard</a></li>
    <li><a {% if app.request.get('_route') == 'post' %} class = "active"{% endif %} href = "{{ path('post') }}">Posts</a></li>
    <li><a {% if app.request.get('_route') == 'category' %} class = "active"{% endif %} href = "{{ path('category')}}">Categories</a></li>
    <li><a {% if app.request.get('_route') == 'tag' %} class = "active"{% endif %} href = "{{ path('tag')}}">Tags</a></li>
    <li class="dropdown">
        <input type="checkbox" id="dropdown-user">
        <label for="dropdown-user" class = "nav-elem">User</label>
        <ul class ="dropdown-container{% if app.request.get('_route')  in ['user', 'role'] %} open{% endif %}">
            <li>
                <a {% if app.request.get('_route') == 'user' %} class = "active"{% endif %} href = "{{ path('user')}}">User</a>
            </li>
            <li>
                <a {% if app.request.get('_route') == 'role' %} class = "active"{% endif %} href = "{{ path('role')}}">Roles</a>
            </li>
        </ul>
    </li>
    <li class = "logout"><a  href = "{{ path('logout') }}">Logout</a></li>
{% endblock %}
{% block body %}
    <div class ="frame">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
{% block footer %}
{% endblock %}