<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./../css/main.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400|Roboto:300&display=swap" rel="stylesheet">

        {% block stylesheets %}
            <link href="{{ asset('build/main.css') }}" rel="stylesheet"/>
        {% endblock %}


        <title>{% block title %}Bloc{% endblock %}</title>
    </head>
    <button id="to-top">&#8963;</button>
    <body>
        <header class="header">
            <div class="logo" id="header-logo">
                <a href="{{ path('blog') }}">
                    <span class="accent">b</span>loc
                </a>
            </div>
            <input type="checkbox" id="hamburger">
            <label for="hamburger" class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </label>
            <nav id="menu">
                <ul>
                    {% block navigationlist %}
                    <li><a {% if app.request.get('_route') == 'blog'    %} class = "active" {% endif %} href = "{{ path('blog')     }}">Blog</a></li>
                    <li><a {% if app.request.get('_route') == 'gallery' %} class = "active" {% endif %} href = "{{ path('gallery')  }}">Gallery</a></li>
                    <li><a href="#footer">Contact</a></li>
                    {% endblock %}
                </ul>
            </nav>
        </header>
        <div class="main">
            {% block body %}{% endblock %}
        </div>

        {%  block footer %}
        <footer>
            <div id="footer">
                <div class="footer-item">
                    <h1 class="logo" id="footer-logo"><span style="color: #ea3143">b</span>loc</h1>
                </div>
                <div class="footer-item">
                    <h3>Über mich</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
                    </p>
                </div>
                <div class="footer-item">
                    <h3>Adresse</h3>
                    <p>Firma</p>
                    <p>Musterstraße</p>
                    <p>01234 Stadt</p>
                </div>
                <div class="footer-item">
                    <h3>Kontakt</h3>
                    <p>muster@mail.de</p>
                    <p>0123 - 456789</p>
                    <img class="social-media-icon" src="https://img.icons8.com/material/24/000000/github.png">
                    <img class="social-media-icon" src="https://img.icons8.com/material/24/000000/linkedin.png">
                    <img class="social-media-icon" src="https://img.icons8.com/material/24/000000/twitter.png">
                </div>
            </div>
            <div id="copyright">
                <p>© 2016 Copyright Text</p>
            </div>
        </footer>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
